@import "../../../static/styles/variables";

.input {
  display: flex;
  width: 100%;
  background-color: $purple;
  height: 36px;
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
  color: $black;

  &::after {
    content: '123';
    display: flex;
    position: relative;
  }

  &--err {
    background-color: $pink;

    &::placeholder {
      color: $red;
    }
  }

  ::placeholder {
    color: $grey;
    font-family: Mulish-Regular;
    font-size: 14px;
    line-height: 24px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.label-err {
  margin-top: 6px;
  font-size: 14px;
  line-height: 14px;
  display: none;
  color: $red;

  &--active {
    display: flex;
  }
}
