<div class="error">
  <h1 class="super-caption error__title">505</h1>
  <h2 class="h2 color-grey error__description">
    Something went wrong...
    <br>
    We are working on fixing the problem.
  </h2>
  <div class="error__btn">
    {{> button text="Open home page" type="button" id="chatOpen" }}
  </div>
</div>
