@import '../../../static/styles/variables';

.chat__body {
  width: calc(100% - 400px);
  height: 100%;
  overflow: auto;
}

.chat__body-head {
  height: 55px;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $light-grey;
  &--closed {
    display: none;
  }
}

.chat__body-banner {
  align-items: center;
  justify-content: center;
  display: none;
  &--closed {
    display: flex;
    margin-top: calc(50vh - 60px);
  }
}

.chat__messages {
  height: calc(100vh - 130px);
  padding: 32px 72px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  &--closed {
    display: none;
  }
}

.chat__message {
  height: 75px;
  padding: 20px;
  border-top: 2px solid $light-grey;
  &--closed {
    display: none;
  }
}
