<div class="chat">
  <div class="chat__list">
    <div class="chat__list-head">
      <a class="chat__profile-link" id="profileInfoOpen">Profile</a>
      <div class="chat__list-search">
        {{> input placeholder="Search" type="text" name="text"}}
      </div>
    </div>
  </div>
  <div class="chat__body">
    <div class="chat__body-head"></div>
    <div class="chat__messages"></div>
    <div class="chat__message"></div>
  </div>
</div>
