<div class="chat-message chat-message--{{type}}" >
  <div class="chat-card__avatar-wrapper">
    <div class="chat-card__avatar chat-card__avatar--{{size}}"></div>
    <div class="chat-card__status chat-card__status--{{status}} "></div>
  </div>
</div>
