<div class="error">
  <h1 class="super-caption error__title">404</h1>
  <h2 class="h2 color-grey">Page not found...</h2>
  <div class="error__btn">
    {{> button text="Open home page" type="button" id="chatOpen" }}
  </div>
</div>
