<div class="signIn">
  <h1 class="h1 signIn__title">Sign in</h1>
  <div class="signIn__form-wrapper">
    <form id="SignIn" class="signIn__form" action="">
      {{{login}}}
      {{{password}}}
    </form>
  </div>
  <p id="FormErr" class="p1 color-red signIn__form-err"></p>
  <div class="signIn__btns">
    {{{signInBtn}}}
    {{{signUpBtn}}}
  </div>
</div>

