<div class="signIn">
  <h1 class="h1 signIn__title">Sign in</h1>
  <div class="signIn__form-wrapper">
    <form class="signIn__form">
      <div class="signIn__input">
      </div>
      <div class="signIn__input">
      </div>
      {{{signInBtn}}}
      {{{signUpBtn}}}
    </form>
  </div>
</div>

