<div class="profile">
  <h1 class="h1 profile__title">Update password</h1>
  <form id="UpdatePassword" class="profile__form" action="">
    {{{oldPassword}}}
    {{{newPassword}}}
  </form>
  <div class="profile__btn-wrapper">
    {{{saveBtn}}}
    {{{cancelBtn}}}
  </div>
</div>
