@import "./variables";

.color-red {
  color: $red
}

.color-blue {
  color: $blue
}

.color-darkblue {
  color: $dark-blue
}

.color-black {
  color: $black
}

.color-purple {
  color: $purple
}

.color-white {
  color: $white
}

.color-grey {
  color: $grey
}
