$red: #E94242;
$pink: rgba(239, 0, 0, 0.07);
$green: #2CC069;
$blue: #002DE3;
$dark-blue: #001A83;
$black: #0F1828;
$black-02: rgba(15, 24, 40, 0.2);
$purple: #F7F7FC;
$white: #FFFFFF;
$grey: #ADB5BD;
$light-grey: #EAEAEA;
$card-grey: rgba(234, 234, 234, 0.3);
