<div class="profile">
  <h1 class="h1 profile__title">Profile</h1>
  <input class="profile__avatar-input" type="file" id="avatar" name="avatar"/>
  <div class="profile__avatar">
    <label class="profile__avatar-btn" for="avatar"></label>
    <div class="profile__avatar-plus"></div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">Email</div>
    <div class="profile__info-value p1">example@gmail.com</div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">Login</div>
    <div class="profile__info-value p1">Artur_Dzhimiev</div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">First name</div>
    <div class="profile__info-value p1">Artur</div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">Second name</div>
    <div class="profile__info-value p1">Dzhimiev</div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">Display name</div>
    <div class="profile__info-value p1">Artur_Dzhimiev</div>
  </div>
  <div class="profile__info-item">
    <div class="profile__info-name p1">Phone</div>
    <div class="profile__info-value p1">+79853014999</div>
  </div>

  <div class="profile__btns-wrapper">
    <div class="profile__btns">
      <div class="profile__btn">
        <a id="profileUpdateInfoOpen">Update user info</a>
      </div>
      <div class="profile__btn">
        <a id="profileUpdatePasswordOpen">Update password</a>
      </div>
    </div>
    <div class="profile__btn">
      <a id="signInOpen" class="color-red">Log out</a>
    </div>
  </div>
</div>

