<div class="signUp">
  <h1 class="h1 signUp__title">Sign Up</h1>
  <div class="signUp__form-wrapper">
    <form class="signUp__form" action="">
      <div class="signUp__input">
        {{> input placeholder="First name" type="text" name="first_name"}}
      </div>
      <div class="signUp__input">
        {{> input placeholder="Second name" type="text" name="second_name"}}
      </div>
      <div class="signUp__input">
        {{> input placeholder="Login" type="text" name="login"}}
      </div>
      <div class="signUp__input">
        {{> input placeholder="Email" type="text" name="email"}}
      </div>
      <div class="signUp__input">
        {{> input placeholder="Phone" type="text" name="phone"}}
      </div>
      <div class="signUp__input">
        {{> input placeholder="Password" type="password" name="password"}}
      </div>
      <div class="signUp__btn-wrapper">
        {{> button text="Sign up" type="button" id="signInOpen" }}
      </div>
      <a id="signInOpen">Sign in</a>
    </form>
  </div>
</div>
